body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: dimgray;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  background-color: white;
  padding-bottom: 10px;
}

.container h1 {
  font-size: 22px;
}

#cabecera {
  background-color: #33da;
  box-shadow: 0 2px 50px 0 rgba(0,0,0,0.5);
  color: white;
  margin: 0;
  font-weight: bold;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 50px;
}

.tagline {
  font-weight: normal;
  font-size: 0.8em;
  padding: 0 0 0 1em;
}

footer {
  text-align: center;
  padding: 12px 0;
  color: gray;
}

footer span {
  color: hotpink;
  font-size: 1.2rem;
}